#body_local {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    #body_local {
      background-color: #202020;
      color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    #body_local {
      background-color: #fff;
      color: #000000;
    }
}

#dinamics {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  #dinamics {
    background-color: #202020;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  #dinamics {
    background-color: #fff;
    color: #000000;
  }
}